html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--body-font-family);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover, --link-color);
  }

  &:active {
    color: var(--link-color-active, --link-color);
  }
}

.hero {
  display: flex;
  flex-grow: 1;
  align-items: center;

  & img {
    width: 4rem;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

:--heading {
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}
