<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title or site.name }}" />
    <meta property="og:type" content="{{ type or site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <link rel="shortcut icon" href="/assets/static/favicon.png" type="image/png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% webpack 'main.css' %}">
    <script async defer src="{% webpack 'main.js' %}"></script>
  </head>
  <body class="{{ bodyClass }}">
    <header class="header">
      <a href="/" class="site-logo">
        {% icon "danger-blog" %}
        <span class="site-title">Danger Blog</span>
      </a>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <div class="footer-info">
        <a href="{{ site.url }}">{% icon "github" %}Danger Blog</a> - <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time>
      </div>
      <div class="footer-decoration">
        {{ '/src/assets/static/border.svg' | svgContents | safe }}
      </div>
    </footer>

    <script type="application/json" id="build-json">
      {{- build | jsonString | safe -}}
    </script>
  </body>
</html>
