{# Open graph related #}
{% include 'site-meta.njk' %}

<link rel="shortcut icon" href="/assets/static/favicon.png" type="image/png">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% webpack 'main.css' %}">
<script async defer src="{% webpack 'main.js' %}"></script>
