---
layout: default
tags: "page"
htmlClass: html
bodyClass: body
title: Danger Blog
---
<div class="content hero">
  <h1>{{ title }}</h1>
  {% image "eleventy_logo.png", "The possum is Eleventy’s mascot" %}
</div>

<div class="content" id="redom-container"></div>

<div class="content">
  <h2>Pages</h2>
  <ul class="nav">
    {% for page in collections.page %}
      <li class="nav-item"><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Products</h2>
  <ul class="nav">
    {% for product in collections.product %}
      <li class="nav-item"><a href="{{ product.url }}">{{ product.data.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Posts</h2>
  <ul class="nav">
    {% for post in collections.post %}
      <li class="nav-item"><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
</div>
