---
layout: default
title: Hello world
htmlClass: html
bodyClass: body
---
<h1>TESTING 👋<br/>from “{{ site.name }}”</h1>
<a href="/">Home</a>
{% image "eleventy_logo.png", "The possum is Eleventy’s mascot" %}
